@model Chepyxland.Models.SignUpModel

@{
}

<form asp-action="SignUp" method="post">
    <div>
        <label>Login</label>
        <input type="text" name="Login" asp-for="@Model.Login" required />
    </div>
    
    <div>
        <label>Password</label>
        <input type="text" name="Password" asp-for="@Model.Password" required />
    </div>
    
    <div>
        <label>User name</label>
        <input type="text" name="UserName" asp-for="@Model.UserName" required />
    </div>
    <button type="submit">GOGOGO</button>
</form>